body {
  background-color: #f9f8f4;
}
.jumbotron {
  background-image: url("../images/photo.jpg");
  background-size: cover;
  background-position: center 60%;
  color: #fafef0;
  font-size: 20px;
  line-height: 1.9em;
}
#topbutton {
   /* ▼ボタンの表示位置を画面の右下に固定 */
   position: fixed; /* ←表示場所を固定 */
   bottom: 18px;   /* ←下端からの距離 */
   right: 18px;    /* ←右端からの距離 */
   width: 7em;     /* ←横幅 */

   /* ▼最初は非表示にしておく */
   display: none;

   /* ▼配色・配置・文字の装飾など */
   background-color: #2525aa; /* ←背景色 */
   opacity: 0.75;        /* ←透明度 */
   border-radius: 24px;  /* ←角丸の半径 */
   text-align: center;  /* ←文字の位置 */
   font-size: 120%;     /* ←文字サイズ */
   font-weight: bold;   /* ←文字の太さ */
   margin: 0px;          /* ←外側の余白 */
   padding: 10px;       /* ←内側の余白 */
}
#topbutton a {
   /* ▼リンクの装飾 */
   color: white;          /* ←文字色 */
   text-decoration: none; /* ←下線なし */
}
#topbutton a:hover {
   /* ▼マウスが載ったときの装飾 */
   color: yellow;              /* ←文字色 */
   text-decoration: underline; /* ←下線あり */
}




.pagetop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
}
.pagetop a {
  display: block;
  background-color: #ccc;
  text-align: center;
  color: #222;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.pagetop a:hover {
  display: block;
  background-color: #b2d1fb;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  padding:5px 10px;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.news-area {
  background-color: #ecebe8;
  border-radius: 3px;
}

.input-area {
  background-color: #fff;
  border-radius: 3px;
}
.g-list {
border-top: 0px;
border-right: 0px;
border-bottom: solid 1px #f9f8f4;
border-left: 0px;
}
.col-md-10 {
  margin: 0px;
  padding: 0px 10px 0px 0px;
}
.col-md-2 {
  margin: 0px;
  padding: 0px;
}
.news-area .col-md-10 {
  margin: 0px;
  padding: 0px;
}
.news-area .col-md-2 {
  margin: 0px;
  padding: 0px 0px 0px 18px;
}
.bd-dot {
  border-bottom: dotted 1px #ccc;
  margin: 0px 3px 4px 3px;
}
.news-area hr {
  margin: 0px 0px 4px 0px;
  padding: 0px;
}
.news-area h3 {
  font-size: 16px;
  padding-top: 5px;
}
.news-title {
  font-weight: bold;
  font-size: 20px;
}
.product-area h2 {
  font-size: 26px;
}
.product-area .col-md-3 {
  border: solid 1px#f9f8f4;
  background-color: #fff;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}
.blog-header-logo:hover {
  text-decoration: none;
}
h4.fs-13 {
font-size: 1.2rem;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
}